body {
	/*
	background-image: url(images/light-grey-terrazzo.png);
	background-repeat: repeat;
	background-color: red;
	
	background-color: #E5DEDE;

	*/

	background-color: white;
}

.navbar {
	font-family: 'Gentium Basic', serif;
}
.navbar a {
	color: darkslategray;
}

h1, h2, h3, h4 {
	font-family: 'Gentium Basic', serif;
}

.hero {
    position: relative;
}

.hero:after {
    content: "";
    background-image: url(images/sunset.jpg);
    <a href="https://www.freepik.com/free-photos-vectors/abstract">Abstract vector created by vectorpouch - www.freepik.com</a>
    */
    background-position: bottom center;
    background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}



.jumbotron {
    background: none;
}

.jumbotron div {
	min-height: 250px;
}

.jumbotron .btn-primary {
	color: darkslategrey;
	background-color: white;
	border-color: white;
}

.jumbotron .btn-primary {
	font-family: 'Gentium Basic', serif;
	font-size: 36px;
	color: darkslategray;
	background-color: transparent;
	border-radius: 0;
	border-color: darkslategray;
}

/*
.jumbotron .btn-primary.login {
	background-image: url("images/grad.jpg");
	background-position: center;
}

.jumbotron .btn-primary.event {
	background-image: url("images/glasses.jpg");
	background-position: center;
	background-size: cover
}

.jumbotron .btn-primary.rsvp {
	background-image: url("images/bwkidsoft.jpg");
	background-position: bottom;
}
*/
.jumbotron .btn-primary:hover {
	background-color: lightpink;
	background-image: none;
	border-color: lightpink;
}

.dashboard-card {
	border-radius: 0;
}

.dashboard-card a {
	color: darkslategray;
}
.dashboard-card a:hover {
	/*color: darkslateblue;*/
	text-decoration: none;
}

.dashboard-card h2 {
	margin-bottom: 0;
	font-size: 24px;
}

.dashboard-card .card-header {
	position: relative;
	border-bottom: none;
	padding: 14px;
}

.dashboard-card .card-header:hover {
	background-color: lightsteelblue;
	border-radius: 0;
}

.dashboard-card .card-header .fa-chevron-down {
  transition: .3s transform ease-in-out;
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 20px;
}
.dashboard-card .card-header .collapsed .fa-chevron-down {
  transform: rotate(180deg);
}

.dashboard-card label {
	margin-bottom: 0;
}

.btn-primary {
	border-radius: 0;
	font-family: 'Gentium Basic', serif;
	border-color: darkslategray;
	background-color: white;
	color: darkslategray;
}

footer {
	margin: 50px 0;
}