{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}
  <div class="container-fluid hero">
    <div class="jumbotron">
         <div class="d-flex justify-content-center align-items-center">
           <a class="btn btn-primary btn-lg m-1" href="/login" role="button">Login</a>
           <a class="btn btn-primary btn-lg m-1" href="/register" role="button">Register</a>
           <a class="btn btn-primary btn-lg m-1" href="/rsvp" role="button">RSVP</a>
         </div>
         
    </div>
  </div>
{% endblock %}
